*.mexmaci64
DerivedData
*.aux
*.bbl
*.log
*.gz
*.mexa64
*.blg
*.spl
*.o
/vs_20*
/lib/*
Usage.pdf
cmake
build
bin
.vscode
doxygen_doc
toolbox/src
toolbox/license.txt
toolbox/doc/Art_Figure_1.pdf
toolbox/doc/Manual.md
toolbox/doc/paper.pdf
Clothoids.mltbx
lib3rd
Mugello.txt
