*.mexmaci64
DerivedData
*.aux
*.bbl
*.log
*.gz
*.mexa64
*.blg
*.spl
*.o
/vs_20*
/lib/*
Usage.pdf
cmake
build
bin
.vscode
doxygen_doc
Clothoids.mltbx
lib3rd
Mugello.txt
docs_build/sphinx/_build
docs_build/sphinx/api
docs_build/xml
docs_build/sphinx_cpp/_build
docs_build/sphinx_cpp/api-cpp
docs_build/sphinx_matlab/_build
docs_build/sphinx_matlab/api-matlab
docs_build/xml-c
docs_build/xml-cpp
docs_build/xml-matlab
docs_build/sphinx/_doxygen
docs_build/sphinx/api-cpp
docs_build/sphinx/api-matlab
docs_build/sphinx_matlab/_doxygen
docs_build/sphinx_matlab/api-cpp

__pycache__
*.pyc