<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>G2solver.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>statistic.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>statistic2arc.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>statisticCLC.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>testBiarc.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>testDistance.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>testG2plot.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>testIntersect.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>testIntersect2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>testIntersect3.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>testPolyline.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>testTriangle2D.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D9179A7A206D211E006B66E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D92EFA7B2186931500BF8E18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D92EFA942187B03600BF8E18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D938F4DA1DD3B83000E08A70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D94A09571E033A270066C962</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D96E1FAC1F75513000115228</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D981B3021E8D56AF006C933D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D9C3739320BC484100715C11</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D9C6215A1DFEB9090085EF66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D9C8B9E11F7AA69400DF4205</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D9E74A4C1F68801C00E47B88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
